.updateprofile {
    background-color: #e9e5de;
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBackground {
    height: 400px;
    width: 300px;
    padding: 30px;
    font-size:smaller;
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
}

.updateHeader {
    font-size: x-large;
    font-weight: bold;
    color:#e9e5de;
}


.inputBoxLarge {
    height: 100px;
    width: 100%;
    border-radius: 12px;
    background-color: white;
}

.submitButton {
    background-color: #e9e5de;
    color: black;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    height: 30px;
    width: 100%;
    align-self: center;
}

.textError {
    color: rgb(241, 81, 81);
    size: 14px;
}

.text {
    color: white;
    size: 18px;
}

.textLabel {
    color: #e9e5de;
    size: 24px;
    font-weight: bold;
}

.linkbutton {
    color: #e9e5de;
    size: 24px;
    font-weight: bold;
}