.container{
    background-color: #e9e5de;
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    float: left;
    padding: 10px;
    height: 300px;
}

.left {
    width: 65%;
}

.right{
    width: 35%;
}

.loginlogo{
    background-color: black;
    height: 500px;
    width: 500px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: -90px;
}

.login-page{
    background-color: black;
    height: 250px;
    width: 270px;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.header{
    color: #e9e5de;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
}


p{
    color: white;
    font-size: 5vw;
}

.message{
    color:white;
    font-size: medium;
}

.inputArea{
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.submitButtonSignIn{
    background-color: #e9e5de;
    color: black;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
